.group, .last-group {
  overflow: hidden;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  float: left
}

.last-group {
  float: none;
  width: auto
}

.line {
  zoom: 1
}

.line:before, .line:after {
  content: " ";
  display: table
}

.line:after {
  clear: both
}

.last-unit {
  overflow: hidden;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  float: none;
  width: auto;
  padding-left: $default-grid-gutter-left;
  padding-right: $default-grid-gutter-right;
}

.unit {
  overflow: hidden;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  float: left;
  padding-left: $default-grid-gutter-left;
  padding-right: $default-grid-gutter-right;
}

.unit-flush {
  overflow: hidden;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  float: right;
  padding-left: $default-grid-gutter-left;
  padding-right: $default-grid-gutter-right;
}

.size8of8 {
  width: 100%
}

.size7of8 {
  width: 87.5%
}

.size6of8 {
  width: 75%
}

.size5of8 {
  width: 62.5%
}

.size4of8 {
  width: 50%
}

.size3of8 {
  width: 37.5%
}

.size2of8 {
  width: 25%
}

.size1of8 {
  width: 12.5%
}

.size4of4 {
  width: 100%
}

.size3of4 {
  width: 75%
}

.size2of4 {
  width: 50%
}

.size1of4 {
  width: 25%
}

.size2of2 {
  width: 100%
}

.size1of2 {
  width: 50%
}

.size3of3 {
  width: 100%
}

.size2of3 {
  width: 66.66666666666666%
}

.size1of3 {
  width: 33.33333333333333%
}

.size1of1 {
  width: 100%
}

.size1of2:first-child {
  max-width: 580px
}

.size1of2.maintain-width {
  max-width: inherit
}

.cap-width {
  max-width: 33em;
}

@media screen and (max-width: 60em) {
  .size1of4, .size2of4, .size3of4, .size2of8, .size4of8, .size6of8 {
    width: 50%
  }

  .size1of4.nochange {
    width: 25%
  }

  .size1of4.nochange.unit {
    float: left
  }

  .size1of4.nochange.last-unit {
    float: none
  }
}

@media screen and (max-width: 40em) {
  .size1of2, .size1of3, .size2of3, .size1of4, .size2of4, .size3of4, .size2of8, .size3of8, .size4of8, .size5of8, .size6of8, .size7of8 {
    width: 100%
  }

  .cap-width {
    max-width: none;
  }

  .size1of2.unit, .size1of3.unit, .size2of3.unit, .size1of4.unit, .size2of4.unit, .size3of4.unit, .size2of8.unit, .size3of8.unit, .size4of8.unit, .size5of8.unit, .size6of8.unit, .size7of8.unit, .size1of2.last-unit, .size1of3.last-unit, .size2of3.last-unit, .size1of4.last-unit, .size2of4.last-unit, .size3of4.last-unit, .size2of8.last-unit, .size3of8.last-unit, .size4of8.last-unit, .size5of8.last-unit, .size6of8.last-unit, .size7of8.last-unit {
    float: none;
    display: block
  }

  .size1of8 {
    width: 50%
  }

  .size1of8.unit, .size1of8.last-unit {
    float: none;
    display: block
  }

  .size1of2.nochange {
    width: 50%
  }

  .size1of2.nochange.unit {
    float: left
  }

  .size1of2.nochange.last-unit {
    float: none
  }

  .size1of3.nochange {
    width: 33.33333333333333%
  }

  .size1of3.nochange.unit {
    float: left
  }

  .size1of3.nochange.last-unit {
    float: none
  }
}

.container {
  margin-right: $default-grid-gutter-left;
  margin-left: $default-grid-gutter-left;
}

.center-unit {
 margin-left: auto;
  margin-right: auto;
}