$base-line-height: 6px;
$base-font-size: 15px;
$base-border-color: #E5E5E5;
$base-border-width: 1px;
$base-border-radius: 2px;

// Font stacks
$serif-font-stack: serif;
$sans-font-stack: sans-serif;

// The default font family.
$base-font-family: $sans-font-stack;

//Grid Settings

// Colors
$base-font-color: lighten(#000, 15);
$normal-link-color: #4183C4;
$hover-link-color: lighten($normal-link-color, 10);
$active-link-color: darken($normal-link-color, 10);
$visited-link-color: lighten($normal-link-color, 0);
$focus-link-color: lighten($normal-link-color, 0);
$light-grey: lighten(#000, 50);
$border-color: lighten(#000, 75);

//Modules
$button-height: $base-line-height * 1;