body {
  font-family: $sans-font-stack;
  line-height: $base-line-height * 4;
  font-size: $base-font-size;
  color: $base-font-color;
  margin: $default-grid-gutter-left;
  background-color: #4a4d4e;
}

.container {
  margin:auto;
  max-width:1299px;
}

h1, h2, h3, h4, h5, h6, dd, dl, blockquote, p, figure, address, hr, input, select {
  margin-bottom: $base-line-height * 2;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: bold;
}

h1, .h1 {
  font-size: 40px;
  line-height: $base-line-height * 8;
}

h2, .h2 {
  font-size: 40px;
  line-height: $base-line-height * 8;
}

h3, .h3 {
  font-size: 26px;
  line-height: $base-line-height * 6;
}

h4, .h4 {
  font-size: 18px;
  line-height: $base-line-height * 5;
}

h5, .h5 {
  font-size: 18px;
  line-height: $base-line-height * 5;
}

h6, .h6 {
  font-size: 15px;
  line-height: $base-line-height * 4;
}

p, .p {
  max-width: 550px;
  font-size: 15px;
  line-height: $base-line-height * 4;
}

small, .meta {
  font-size: 12px;
  line-height: $base-line-height * 3;
}

button,
input,
select,
textarea {
  font-family: $base-font-family;
  border: $base-border-width solid $base-border-color;
  background-color: white;
}

input[type="text"],
input[type="password"],
select {
  height: $base-line-height * 5;
  font-size: $base-font-size;
  width: 100%;
}

a {
  text-decoration: none;
  @include link-colors($normal-link-color, $hover-link-color, $active-link-color, $visited-link-color, $focus-link-color);
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-top: ($base-line-height * 2) - $base-border-width;
  border: 0;
  border-top: $base-border-width solid $base-border-color;
}

label {
  display: inline-block;
  margin-bottom: $base-line-height;
}

fieldset {
  padding-top: $base-line-height - $base-border-width;
  padding-bottom: $base-line-height - $base-border-width;
  border: $base-border-width solid $base-border-color;
}