body {
  font-family: $sans-font-stack;
  @include set-leading(4);
  font-size: $base-font-size;
  color: $base-font-color;
  background-color: $body-bg-color;
}

dd, dl, blockquote, p, figure, address, hr, input, select {
  @include vr-bottom(2);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: bold;
}

h1, .h1 {
  font-size: emCalc(40px);
  @include set-leading(8, 40px);
  @include vr-bottom(2, 40px);
}

h2, .h2 {
  font-size: emCalc(40px);
  @include set-leading(8, 40px);
  @include vr-bottom(2, 40px);
}

h3, .h3 {
  font-size: emCalc(26px);
  @include set-leading(6, 26px);
  @include vr-bottom(2, 26px);
}

h4, .h4 {
  font-size: emCalc(18px);
  @include set-leading(5, 18px);
  @include vr-bottom(2, 18px);
}

h5, .h5 {
  font-size: emCalc(18px);
  @include set-leading(5, 18px);
  @include vr-bottom(2, 18px);
}

h6, .h6 {
  font-size: emCalc(15px);
  @include set-leading(4, 15px);
  @include vr-bottom(2, 15px);
}

p, .p {
  max-width: 550px;
  font-size: emCalc(15px);
  @include set-leading(4, 15px);
  @include vr-bottom(2, 15px);
}

small, .meta {
  font-size: emCalc(12px);
  @include set-leading(3, 12px);
  @include vr-bottom(2, 12px);
}

button,
input,
select,
textarea {
  font-family: $base-font-family;
  border: $base-border-width solid $base-border-color;
  background-color: white;
}

input[type="text"],
input[type="password"],
select {
  height: $base-line-height * 5;
  font-size: $base-font-size;
  padding-left: $base-line-height;
  padding-right: $base-line-height;
}

a {
  text-decoration: none;
  @include link-colors($normal-link-color, $hover-link-color, $active-link-color, $visited-link-color, $focus-link-color);
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-top: ($base-line-height * 2) - $base-border-width;
  border: 0;
  border-top: $base-border-width solid $base-border-color;
}

label {
  display: inline-block;
  margin-bottom: $base-line-height;
}

fieldset {
  padding-top: $base-line-height - $base-border-width;
  padding-bottom: $base-line-height - $base-border-width;
  border: $base-border-width solid $base-border-color;
}