*,
*:before,
*:after {
  @include vendor(box-sizing, border-box);
}

body {
  font-family: $sans-font-stack;
  color: $base-font-color;
  background-color: $body-bg-color;
  font-size: (strip-units($base-font-size) / 16 * 100) + 0%; // Sets the body font-size to base font size and converts that to a percentage
  @include set-leading(4); // Sets the line-height to 4 units of the base-line-height
}

dd, dl, blockquote, p, figure, address, hr, input, select {
  @include vr-margin-bottom(2);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: bold;
}

h1, .h1 {
  @include set-type(40px, 8);
  @include vr-margin-bottom(2, 40px);
}

h2, .h2 {
  @include set-type(40px, 8);
  @include vr-margin-bottom(2, 40px);
}

h3, .h3 {
  @include set-type(26px, 6);
  @include vr-margin-bottom(2, 26px);
}

h4, .h4 {
  @include set-type(18px, 5);
  @include vr-margin-bottom(2, 18px);
}

h5, .h5 {
  @include set-type(18px, 5);
  @include vr-margin-bottom(2, 18px);
}

h6, .h6 {
  @include set-type(15px, 4);
  @include vr-margin-bottom(2, 15px);
}

p, .p {
  @include set-type(15px, 4);
  @include vr-margin-bottom(2, 15px);
}

small, .meta {
  @include set-type(12px, 3);
  @include vr-margin-bottom(2, 12px);
}

button,
input,
select,
textarea {
  font-family: $base-font-family;
  border: $base-border-width solid $base-border-color;
  background-color: white;
}

input[type="text"],
input[type="password"],
select {
  height: $base-line-height * 5;
  font-size: $base-font-size;
  padding-left: $base-line-height;
  padding-right: $base-line-height;
}

a {
  text-decoration: none;
  @include link-colors($normal-link-color, $hover-link-color, $active-link-color, $visited-link-color, $focus-link-color);
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-top: ($base-line-height * 2) - $base-border-width;
  border: 0;
  border-top: $base-border-width solid $base-border-color;
}

label {
  display: inline-block;
  margin-bottom: $base-line-height;
}

fieldset {
  padding-top: $base-line-height - $base-border-width;
  padding-bottom: $base-line-height - $base-border-width;
  border: $base-border-width solid $base-border-color;
}

.inline-block {
  display: inline-block;
}