.badge {
  display: inline-block;
  color: #999;
  background-color: #EEE;
  text-align: center;
  vertical-align: middle;
  padding: 2px $base-line-height;
  border-radius: $base-border-radius;
  font-weight: bolder;
  @include set-type(13px, 3);
}