button, .button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  font-size: $base-font-size;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: $base-border-width solid transparent;
  white-space: nowrap;
  padding: $base-line-height $base-line-height;
  padding-top: $base-line-height - $base-border-width;
  padding-bottom: $base-line-height - $base-border-width;
  padding-right: $base-line-height;
  padding-left: $base-line-height;
  line-height: $base-line-height * 3;
  border-radius: $base-border-radius;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}