.card {
  border: $base-border-width solid $base-border-color;
  border-radius: $base-border-radius;
  margin-bottom: $base-line-height;
  padding-left: $base-line-height;
  padding-right: $base-line-height;
  padding-top: $base-line-height - $base-border-width;
  padding-bottom: $base-line-height - $base-border-width;
  background-color: white;
}