.label {
  background-color: #cfddf3;
  border-radius: $base-border-radius;
  display: inline-block;
  font-weight: bolder;
  padding-right: 4px;
  padding-left: 4px;
  color: white;
  font-size: emCalc(12px);
  @include set-leading(3, 12px);
}