<div class="size1of3 lastUnit">
  <section class="stream">
    <h3>Closed Issues <span class="badge">{{length}}</span></h3>
    <a class="button" href="#" {{action 'filteryours'}}>Yours</a>
    <a class="button" href="#" {{action 'getall'}}>All</a>
    {{#each}}
      {{render issuecard this}}
    {{/each}}
  </section>
</div>
