<div class="size1of3 lastUnit cap-width">
  <section class="stream">
    <header class="stream-header">
      <h3 class="h5">Closed Issues <span class="badge">{{length}}</span></h3>
      <a class="button" href="#" {{action 'filteryours'}}>Yours</a>
      <a class="button" href="#" {{action 'getall'}}>All</a>
    </header>
    <div class="card-list">
      {{#each}}
        {{render issuecard this}}
      {{/each}}
    </div>
  </section>
</div>
