
  <h2>Login</h2>
   {{input type="text" value=username placeholder="Github username\email" size="40"}}
   {{input type="password" value=password placeholder="Password" size="40"}}
   <button {{action 'login'}}>Login</button>
