<header class="site-header">
  <div class="container">
    <div class="line">
      <div class="unit">
        <a href="\"><h1 class="logo">Dashub</h1></a>
      </div>
    </div>
  </div>
</header>
<div class="form-group size1of4 maintain-width">
  <form>
    <h2 class="h3">Login</h2>
    <div>{{input type="text" value=username placeholder="Github username\email"}}</div>
    <div>{{input type="password" value=password placeholder="Password"}}</div>
    <button {{action 'login'}}>Login</button>
  </form>
</div>