<div class="unit size1of3 cap-width">
  <section class="stream">
    <header class="stream-header">
      <h3 class="h5">Pull Requests </h3>
      <a class="button" href="#" {{action 'getall'}}>All {{length}}</a>
    </header>
    <div class="card-list">
      {{#each}}
        {{render issuecard this}}
      {{/each}}
    </div>
  </section>
</div>
