<div class="container">
  <div class="form-group center-unit last-unit size2of4 maintain-width">
    <h3>Set Github Repo: github.com/</h3>
    <form>
      {{input class="size7of8" type="text" value=reponame placeholder="owner/repo"}}
      <p class="meta"> (ie. bradoyler/dashub) </p>
      <button {{action 'save'}}>Save</button>
    </form>
    </div>
</div>
