<h3>
	{{#link-to 'index'}} Back {{/link-to}}
</h3>

{{input type="text" value=reponame placeholder="Enter Github repo" size="40"}} 
  <button {{action 'save'}}>Save</button>
  <span> (ie. bradoyler/gitflow) </span> 

