<header class="site-header">
  <div class="container">
    <div class="line">
      <div class="unit">
        <a href="\"><h1 class="logo">Dashub</h1></a>
      </div>
    </div>
  </div>
</header>
<div>
  <div class="form-group size2of4 maintain-width">
    <h3>Set Repository: github.com/</h3>
    {{input type="text" value=reponame placeholder="Github 'owner/repo'" size="40"}} 
    <button {{action 'save'}}>Save</button>
    <span> (ie. bradoyler/dashub) </span>
    </div>
</div>
