<hr> 
<div>
    <h3>Set Repository: github.com/</h3>
    {{input type="text" value=reponame placeholder="Github 'owner/repo'" size="40"}} 
    <button {{action 'save'}}>Save</button>
    <span> (ie. bradoyler/dashub) </span> 
</div>
